nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #ebebeb;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav2{
    display: flex;
    gap: 20px;
}
